@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');

/* .Blog{
  display: flex;
  background-color: rgb(119, 0, 134);
}

hr{
  border: none;
  width: 800px;
  height: 2.5px;
  background-color: rgba(0, 191, 255, 0.751);
}

.post{
  margin-left: 345px;
  max-width: 800px;
  background-color: rgba(69, 69, 69, 0.5);
  padding: 22px;
  margin-top: 20px;
  border-radius: 12px;
}

.head{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.body{
  font-size: 20px;
  color:rgb(159, 159, 159);
  margin-bottom: 5px;
}

button{
  color:white;
  font-size: 15px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  background-color: rgba(2, 217, 255, 0.503);
  border-radius: 30px;
  border: 0px solid rgb(38, 38, 38);
}

.Posts{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 70px;
}

.logo{
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-top: 25px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 191, 255, 0.751);
  border-radius: 30%;
}

.buttons{
  display: flex;
  margin-left: 900px;
}

.choose{
  margin-right: 60px;
  font-size: 25px;
  color: white;
  background-color: rgba(29, 29, 29, 0.9);
  padding: 5px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 15px;

}

.level{
  color:yellow;
  background-color: rgba(29, 29, 29, 0.9);
}

.langbuttons{
  margin-top: 30px;
  margin-right: 400px;
} */

/* СТАРАЯ ЧАСТЬ КОДА */

.mains{
  font-family: 'Open Sans', sans-serif;
  background-color:#0a0c17;
  width: 100%;
  height: 100%;
}
/* NAVBAR */
.navbar-con{
  display: flex;
  justify-content: center;

}
.navbar{
  display: flex;
  position: fixed;
  width: 90%;
  background-color: #0a0c17;
  justify-content: space-between;
  padding:20px 0 20px 0;
}
.logoALEO{
  font-weight: 600;
  font-size:35px;
  color: rgb(254, 254, 254);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 5px;
}
.logoALEO span{
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,92,121,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-buttons{
  display: flex;
  width: 380px;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 5px;
}
.nav-buttons span{
  display: flex;
  align-items: flex-end;
  font-size:15px;
  border-radius: 4px;
  padding:7px;
  padding-top:4px;
  padding-bottom: 4px;
  letter-spacing: 1px;
}
.selection span{
  background:linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,92,121,1) 100%);
  
  color:rgba(255, 255, 255, 1);
  font-size:20px;
  opacity: 1;
}
.nav-buttons div{
  background-color:rgba(255, 255, 255, 0.1);
  color:rgba(255, 255, 255, 0.55);
  transition:150ms;
  border-radius: 2px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size:20px;
  margin-left: auto;
}
.nav-buttons div:hover{
  background-color:rgba(255, 255, 255, 0.2);
  color:rgba(255, 255, 255, 1);
  transition: 150ms;
  border-radius: 2px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size:20px;
  margin-left: auto;
}
.nav-buttons span:hover{
}

/* CONTENT */
.content-con{
  color:white;
  letter-spacing: 3px;
  display: flex;
  margin:130px  0 0 0;
  
}
.sderzhivatel{
  display: flex;
  flex-direction: column;
  width: 72%;
}
.content{
  display: flex;
  width: 70%;
  margin-bottom:45px;
  margin-left: auto;
}
.page-name{
  display: flex;
  width: 90%;
  white-space: nowrap;
  font-size: 25px;
  letter-spacing: 1px;
  margin: 0 0 15px 0;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.page-name .title{
  margin:auto 7px 0px 0;
  padding-bottom: 2px;
}
.page-name .dashes{
  display: flex;
  margin-top:auto;
  font-size: 35px;
  align-items: flex-end;
  color:#00d4ff;
}
.post-text{
  display: flex;
  flex-direction: column;
  /* width: 85%;; */
}
.text{
  display: flex;
  background:linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(78, 78, 78,0) 97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 30px;
}.text-full{
  display: flex;
  transition: 500ms;
  padding-right: 30px;
  color:rgba(255, 255, 255, 0.7);

}
.more{
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color:rgba(255, 255, 255, 0.3);
  height: 25px;
  width: 110px;
  margin:auto 0 0 auto;
  background-color:rgba(255, 255, 255, 0.1);
  border:none;
  padding:2px 6px 2px 6px;
  transition:150ms;
  border-radius: 100px 3px 3px 3px;
}
.more:hover{
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color:rgba(255, 255, 255, 0.5);
  height: 25px;
  width: 110px;
  margin:auto 0 0 auto;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  padding:2px 6px 2px 6px;
  transition:150ms;
  border-radius: 100px 3px 3px 3px;
}
.content-page{
  padding:25px 0px 0px 30px;
  background-color: rgba(78, 78, 78, 0.3); 
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);;
  border-radius: 3px;
}
.content-navigation{
  display: flex;
  position: fixed;
  right: 80px;
  flex-direction: column;
  border-right: 5px solid black;
  padding: 0 20px 0 0;
}
.content-navigation div{
  display: flex;
  justify-content: flex-end;
  margin:0 0 45px 0;
}
.content-navigation div{
  display: flex;
  justify-content: flex-end;
  margin:0 0 45px 0;
}
.section1{
  font-size:25px;
}


