@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Montserrat';
    padding:0px;
    margin:0px;
    background-color: grey;
}
main{
    width: 100%; 
    height: 100%;
    background: url('../images/background.png') no-repeat center center fixed;
    background-size:cover ;
}

.middle-con{
    height: 100vh;
    display: flex;
    justify-content: center;
    right:0;
    left:0;
    top:0;
    bottom: 0;
    align-items: center;
}

.newbies-block, .beginners-block, .advanced-block{
    width: 350px;
    font-size:60px;
    user-select: none;
    letter-spacing: 3px;
    color:black;
    text-decoration: none;

}
a{
    text-decoration: none;
}
.block-con{
    display: flex;
    align-items: center;
    justify-content: center;
}
.newbies-pad{
    margin-right:100px;
}
.advanced-pad{
    margin-left:100px;
}
.advanced-span{
    justify-content: center;
    text-decoration: none;
    color:black
}
.begin-span{
    display: flex;
    justify-content: center;
    transition:500ms;

}
.begin-span-hover{
    font-size:65px;
    color:white;
    transition: 400ms;
    justify-content: center;
}
span{
    display: flex;
}
.sidetext{
    color:white;
    font-size:40px;
    align-items: center;
    justify-content: center;
    opacity: .2;
    user-select: none;
    transition:300ms

}
.hover:hover{
    transition: 200ms;
    opacity: 1;
    font-size:45px
}
.sidetext-1{
    color:white;
    font-size:40px;
    align-items: center;
    justify-content: center;
    opacity: 0.2;
    user-select: none;
    transition:700ms 
}
.sidetext-hide{
    user-select: none;
    opacity: 0;
    justify-content: center;
    color:rgb(243, 243, 243);
    font-size:40px;
    transition: 500ms ;
}
.upper-box{
    position: absolute;
    margin-bottom: 160px;
    justify-content: center;
    
}
.down-box{
    position: absolute;
    margin-top:160px;
    justify-content: center;
}
.active{
    background-color: red;
}
.upper-boxN{
    width: 400px;
    margin-bottom: 160px;
    left:0;
    margin-left:45px;
    position: absolute;
}
.down-boxN{
    width: 400px;
    left:0;
    margin-left:45px;
    position: absolute;
    margin-top:160px;
}
.upper-boxN span{
    justify-content: center;
    align-items: center;
}