@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Montserrat';
    padding:0px;
    margin:0px;
    background-color: grey;
}
main{
    align-items: center;
    width: 100vw; 
    height: 100vh;
    background: url('../images/background.png') no-repeat center center fixed;
    background-size:cover ;
}

.middle-con{
}

.wrapper{
    height: 100px;
}
.beginners-con, .advanced-con, .newbies-con{
    width: 430px;
    height: 280px;
}
.newbies-block, .beginners-block, .advanced-block{
    justify-content: center;
    font-size:calc(24px + 36 * (100vw/1440));
    user-select: none;
    letter-spacing: 3px;
    color:black;
    text-decoration: none;
}
.block-con div{
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.block-con{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.advanced-span{
    justify-content: center;
    text-decoration: none;
    color:black
}
.begin-span{
    transition:500ms;
    display: flex;
    justify-content: center

}
.begin-span-hover{
    font-size:calc(29px + 36 * (100vw/1440));
    color:white;
    transition: 400ms;
    justify-content: center;
}
span{
    display: flex;
}
.sidetext{
    color:white;
    font-size:40px;
    align-items: center;
    justify-content: center;
    opacity: .2;
    user-select: none;
    transition:300ms

}
.hover:hover{
    transition: 200ms;
    opacity: 1;
    font-size:45px
}
.sidetext-1{
    color:white;
    font-size:40px;
    align-items: center;
    justify-content: center;
    opacity: 0.2;
    user-select: none;
    transition:700ms 
}
.sidetext-hide{
    user-select: none;
    opacity: 0;
    justify-content: center;
    color:rgb(243, 243, 243);
    font-size:40px;
    transition: 500ms ;
}
.upper-box{
    height: 100px;
    top: 220px;
    left:570px
}
.down-box{
    height: 100px;
    left:570px;  
    bottom: 220px;
}
.active{
    background-color: red;
}
.upper-boxN{
    top: 220px;
    height: 100px;
}
.down-boxN{
    height: 100px;   
    bottom: 220px;
}
.upper-boxN span{
    justify-content: center;
    align-items: center;
}
.upper-boxA{
    height: 100px;
    top: 220px;
    right: 90px

}
.down-boxA{
    height: 100px;
    right: 90px; 
    bottom: 220px;
}
a{
    text-decoration: none;
    color:black
}